## Series

In [10]:
import numpy as np
import pandas as pd

list_1 = ['a', 'b', 'c', 'd']
labels = [1, 2, 3, 4]
ser_1 = pd.Series(data=list_1, index=labels)
ser_1

arr_1 = np.array([1,2,3,4])
ser_2 = pd.Series(arr_1)

dict_1 = {'f_name': "Derek", 'l_name': "Banas", 'age': 44}
ser_3 = pd.Series(dict_1)

ser_2 / ser_2

np.exp(ser_2)

ser_4 = pd.Series({4: 5, 5: 6, 6: 7, 7: 8}, name='rand_nums')
ser_4.name

'rand_nums'

## Creating DataFrames

In [17]:
arr_2 = np.random.randint(10, 50, size=(2,3)) #create 2x3 matrix
df_1 = pd.DataFrame(arr_2, ['A', 'B'], ['C', 'D', 'E'])
df_1

dict_3 = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
         'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df_2 = pd.DataFrame(dict_3)
pd.DataFrame.from_dict(dict([('A', [1,2,3]), ('B', [4,5,6])]))

pd.DataFrame.from_dict(dict([('A', [1,2,3]), ('B', [4,5,6])]),
                      orient='index', columns=['one', 'two', 'three'])

print(df_1.shape)

(2, 3)

## Editing & Retrieving Data

In [46]:
print(df_1)
df_1[['C', 'E']]
#df_1.loc['A']
df_1.iloc[1]
#df_1.loc['A','C']
#df_1.loc[['A', 'B'],['D', 'E']]
df_1['Total'] = df_1['C'] + df_1['D'] + df_1['E']
print(df_2)
df_2['mult'] = df_2['one'] * df_2['two']
dict_2 = {'C': 44, 'D': 45, 'E': 46}
new_row = pd.Series(dict_2, name='F')
df_1 = df_1.append(new_row)
df_1
df_1.drop('Total', axis=1, inplace=True)
df_1

df_1.drop('F', axis=0, inplace=True)
df_1

df_1['Sex'] = ['Men', 'Women']
df_1.set_index('Sex', inplace=True)
df_1

df_2.assign(div=lambda x: (x['one'] / x['two']))

df_3 = pd.DataFrame({'A': [1., np.nan, 3., np.nan]})
df_4 = pd.DataFrame({'A': [8., 9., 2., 4.]})
df_3.combine_first(df_4)

          C     D     E
Sex
Men    12.0  45.0  26.0
Women  38.0  46.0  35.0
   one  two  mult
a  1.0  1.0   1.0
b  2.0  2.0   4.0
c  3.0  3.0   9.0
d  NaN  4.0   NaN

     A
0  1.0
1  9.0
2  3.0
3  4.0

## Conditional Selection

In [66]:
arr_2 = np.random.randint(10, 50, size=(2,3))
df_1 = pd.DataFrame(arr_2, ['A','B'], ['C','D','E'])
print(df_1)
# lt ge le eq ne
print("Greater than 40\n", df_1.gt(40.0))
bool_1 = df_1 >= 45.0
df_1[bool_1]

df_1['E'] > 40

df_1[df_1['E'] > 30]

df_2 = df_1[df_1['E'] > 30]
df_2['C']

print(df_1[df_1['E'] > 20][['C','D']])

arr_3 = np.array([[1,2,3],[4,5,6],[7,8,9]])
df_2 = pd.DataFrame(arr_3, ['A','B','C'], ['X', 'Y', 'Z'])
print(df_2)
df_2[(df_2['X'] > 3) | (df_2['X'] < 7)]

    C   D   E
A  12  35  21
B  43  29  49
Greater than 40
        C      D      E
A  False  False  False
B   True  False   True
    C   D
A  12  35
B  43  29
   X  Y  Z
A  1  2  3
B  4  5  6
C  7  8  9

   X  Y  Z
A  1  2  3
B  4  5  6
C  7  8  9

## File Input / Output

## Group Data

In [75]:
dict_5 = {'Store': [1,2,1,2], 'Flavor': ['Choc', 'Van', 'Straw', 'Choc'],
         'Sales': [26, 12, 18, 22]}

df_11 = pd.DataFrame(dict_5)

by_store = df_11.groupby('Store')
by_store.mean()
by_store.sum().loc[1]
by_store.describe()

      Sales
      count  mean       std   min   25%   50%   75%   max
Store
1       2.0  22.0  5.656854  18.0  20.0  22.0  24.0  26.0
2       2.0  17.0  7.071068  12.0  14.5  17.0  19.5  22.0

## Concatenate Merge & Join Data

In [76]:
df_12 = pd.DataFrame({'A': [1,2,3],
                     'B': [4,5,6]},
                    index=[1,2,3])
df_13 = pd.DataFrame({'A': [7,8,9],
                     'B': [10,11,12]},
                    index=[4,5,6])

pd.concat([df_12, df_13])

   A   B
1  1   4
2  2   5
3  3   6
4  7  10
5  8  11
6  9  12